body {
  font-family: 'Open Sans';
}

label {
  color: orange;
  font-weight: bold;
}

.sublabel {
  color: #0099cc;
  margin-right: 10px;
}

input[type='checkbox'] {
  margin-right: 2px;
  float: left;
}

.results {
  font-size: 14px;
}

.gap {
  margin-top: 10px;
}

.center {
  text-align: center;
}

thead tr {
  background: #0099cc;
  color: white;
}

@media (max-width: 767px) {
  .btn {
    display: block;
    width: 100%;
  }

  #logo {
    display: block;
    margin: auto;
    padding: 20px;
  }
}
